html {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.hidden {
	display: none;
}
.visible {
	display: block;
}
h4 {
	font-size: 28px;
}
h1, h2, h3 {
	border: none;
}
.span5 {
	font-size: 18px;
}
.parallax-layer {
	position: absolute;
}
.parallax-viewport {
	position: relative;
	overflow: hidden;
}
header#home {
	background: #000;
	background-position: center;
	width: 100%;
	height: 100%;
	position: relative;
	background: url(../images/main_bg.jpg);
	/*background-position: 50% 92%;*/
}
#header_layer1 {
	background: url(../images/DustLight_alpha.jpg) rgba(0,0,0,0.3);
	position: absolute;
	width: 98%;
	height: 100%;
	opacity: 0.3;
	background-size: 123%;
	top: 0%;
	left: 1%;
}
#header_layer2 {
	background: rgba(0,0,0,0.26);
	position: absolute;
	width: 100%;
	height: 100%;
}
#top_light {
	width: 429px;
	height: 567px;
	position: absolute;
	top: -107;
	left: 34%;
	opacity: 0.6;
	background: url(../images/hi.png) no-repeat;
	background-size: 100%;
}
#front_logo {
	height: auto;
	text-align: center;
	background-position: center;
	width: 28%;
	margin: 0px auto;
	padding-top: 0%;
	position: absolute;
	top: 30%;
	left: 37%;
	z-index: 20;
}
#logo_lights {
	position: absolute;
	top: 30%;
	left: -10%;
	-webkit-transform: rotate(-35deg) scale(1.5);
	opacity: 0;
}
#logo_image {
	opacity: 1;
	-webkit-transform: rotate(34deg);
}
#front_nav {
	z-index: 30;
	position: absolute;
	width: 100%;
	text-align: center;
	background: url(../images/black_cloud.png);
	height: 117px;
	background-position: bottom;
}
.header_nav {
	margin-bottom: 20px;
	margin-left: 0;
	list-style: none;
	margin-left: 31%;
	margin-top: 10px;
}
.header_nav li {
	line-height: 20px;
	float: left;
	padding: 17px;
	color: #a7a7a7;
}
#facebook {
	background: url(../images/fb.png) no-repeat;
	width: 65px;
	height: 65px;
	background-size: 100%;
	position: absolute;
	top: 85%;
	right: 3%;
	cursor: pointer;
}
#register {
	background: #358F03;
	width: 90px;
	height: 40px;
	line-height: 40px;
	padding: 5px;
	color: #FFF;
	position: absolute;
	top: 87%;
	left: 3%;
	cursor: pointer;
}
#fireball {
	background: url(../images/fireball.png) no-repeat;
	position: absolute;
	width: 230px;
	top: 2%;
	height: 150px;
	right: -1%;
	background-size: 100%;
	-webkit-transform: scale(0.6);
	z-index: 10;
}
#date {
	font-size: 47px;
	font-family: 'Unica One';
	color: #fff;
	position: absolute;
	top: 84%;
	left: 38%;
	background: url(../images/dottedline.png) no-repeat;
	background-position: 50% 91%;
	background-size: 149%;
	line-height: 53px;
}
#events_tabs {
	position: absolute;
	width: 200px;
	height: 60%;
	top: 28%;
	left: 10%;
}
.events_tabs_list {
	margin: 0;
	height: 100%;
	list-style: none;
}
li.events_tab {
	line-height: 70px;
	color: #fff;
	cursor: pointer;
}
.events_page {
	width: 51%;
	height: 56%;
	top: 30%;
	position: absolute;
	left: 35%;
}
#events_quote {
	color: #fff;
	font-family: 'Just Me Again Down Here', cursive;
}
#events_quote .quote_line {
	font-family: 'Just Me Again Down Here', cursive;
	display: block;
	font-size: 36pt;
	line-height: 80px;
	width: 62%;
	text-align: justify;
	padding-top: 40px;
	padding-left: 117px;
}
#events_quote .quote_author {
	display: block;
	text-align: right;
	width: 75%;
}
#lightbox_wrapper {

}
.lightbox_tabs {
	margin: 0;
	list-style: none;
	width: 60%;
	position: absolute;
	top: 18%;
	left: 31%;
}
.lightbox_tabs li {
	font-size: 16px;
	float: left;
	color: #666;
	padding: 10px;
	-webkit-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}
.lightbox_tabs li.selected {
	background: #D80000;
	color: #fff;
}
.lightbox_tabs li:hover {
	cursor: pointer;
	background: #0B0B0B;
	color: #fff;
}
.lightbox_detail_content {
	position: absolute;
	top: 35%;
	left: 32%;
	width: 50%;
	text-align: left;
	height: 50%;
}
.lightbox_event_prize {
	bottom: 4%;
	left: 5%;
	position: absolute;
	color: #D80000;
	font-size: 15px;
	letter-spacing: 2px;
	font-weight: bold;
}
.event {
	background: url(../images/bg-page.jpg) #142642;
}
#gallery_nite {
	background: #7E2E71;
}
.img-container-image {
	position: relative;
	overflow: hidden;
	background: rgba(94, 92, 92, 0.72);
	-webkit-transition: 0.7s ease-in-out;
	-moz-transition: 0.7s ease-in-out;
	-ms-transition: 0.7s ease-in-out;
	-o-transition: 0.7s ease-in-out;
	transition: 0.7s ease-in-out;
}
#scroll_down {
	background: url(../images/scroll_down.png) no-repeat;
	height: 110px;
	width: 232;
	position: fixed;
	opacity: 0;
	background-position: center;
	z-index: 111;
}
.span3 {
	text-align: left;
}
.lightbox_title {
	text-align: center;
	font-family: monospace;
	font-size: 30px;
	line-height: 50px;
}
.lightbox_photo {
	position: absolute;
	width: 200px;
	height: 200px;
	top: 20%;
	left: 5%;
}
ul.section_ul {
	list-style: none;
	width: 98%;
	height: 76%;
	max-width: 1360px;
	margin: 0 auto;
	padding: 10% 0%;
}
ul.section_ul li {
	width: 8%;
	margin: 0px 0.5%;
	float: left;
}
.chart_section {
	background: url(../images/bg-page.jpg) rgb(37, 37, 37);
	height: 100%;
	position: relative;
	overflow: hidden;
}

.nite_item {
	width: 100%;
	height: 50%;
	margin: 10px 0px;
}
#thaikkudam_bridge {
	background: url(../gallery/other/bridge/bg.jpg) no-repeat;
	background-position: bottom;
}
#bandits_stunts {
	background: url(../gallery/other/bandits/bg.jpg) no-repeat;
	background-position: bottom;
}
.nite_item_details {
	position: absolute;
	right: 0px;
	vertical-align: baseline;
	margin-top: 119px;
	width: 54em;
	float: right;
	text-align: left;
	height: 156px;
	text-transform: uppercase;
}
.nite_item_details .title {
	background: url(../images/bg_title.png) repeat 0 0;
	position: relative;
	padding: 1.4em 0 1.4em 1.7em;
	text-align: left;
	box-shadow: 0px 1px 3px #414141;
}
h3.title-1 {
	color: #d0edde;
	font-size: 15pt;
	line-height: 1em;
	font-family: 'Cuprum', sans-serif;
	text-align: left;
	margin: 0;
	/*text-indent: 58%;*/
}
h2.title-1 {
	color: #f5f7f6;
	font-size: 2.5em;
	line-height: 1.2em;
	font-family: 'Oswald', sans-serif;
	text-align: left;
	margin: 0;
}
.nite_item_details .date {
	color: #d0edde;
	font-size: 12pt;
	line-height: 1em;
	margin: 0;
	padding: 0;
}
.nite_item_details img {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: auto;
}
.nite_item_loading {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: url('http://static.zippergaleria.com.br/static/images/exposicoes/bg_loading.png?1372856462') repeat 0 0;
	z-index: 102;
}
.nite_item_loading .loading {
	position: absolute;
	width: 100%;
	top: 46%;
	font-size: 2.5em;
	color: #fff;
	text-align: center;
}
.loading img {
	width: auto;
}
article.event_category {
	width: 7%;
	float: left;
	height: 100%;
	overflow: hidden;
}
.event_category_img {
	height: 100%;
	width: 100px;
	float: left;
	background: #000;
	margin-left: 0.5%;
}
.event_category_img img {
	height: 100%;
}
.event_category_list {
	height: 100%;
	position: relative;
	background: rgba(0, 0, 0, 0.95);
	z-index: 11;
	float: left;
	display: none;
	width: 65%
}
.page_title {
	height: 10%;
	height: 10%;
	color: #f5f7f6;
	font-size: 2.6em;
	line-height: 1.6em;
	font-family: 'Oswald', sans-serif;
	text-align: left;
	margin: 0;
	padding-left: 38px;
	text-transform: uppercase;
	position: absolute;
	top: 3%;
	left: 11%;
}
.page_content {
	height: 80%;
}
.page_foot {
	height: 10%;
}
#events_content {
	max-width: 1300px;
	margin: 0 auto;
}
div.event_category {
	widows: 10%;
}
article.selected {
	/*display:block;*/
}
article.removed {
	/*display:none;*/
}
/*article.event_category_list {
 -webkit-transition: width 0.5s ease-in-out, box-shadow 0.1s linear;
 -moz-transition: width 0.5s ease-in-out, box-shadow 0.1s linear;
 -o-transition: width 0.5s ease-in-out, box-shadow 0.1s linear;
 -ms-transition: width 0.5s ease-in-out, box-shadow 0.1s linear;
 transition: width 0.5s ease-in-out, box-shadow 0.1s linear;
 }*/
.event_list li {
	float: left;
}
.event_list {
	list-style: none;
}
/*::-webkit-scrollbar {
 display: none;
 }*/
.event .content-right p {

	text-align: left;
}
.page_quote {
	position: absolute;
	height: 53px;
	width: 100%;
	z-index: 99;
	color: rgb(218, 218, 218);
	right: 4%;
	text-align: right;
	font-family: 'Just Me Again Down Here', cursive;
	top: 4%;
	font-size: 18pt;
	width: 39%;
}
ul#event_list {
	display: block;
	padding: 0;
	margin: 0 0 10px 25px;
	list-style: none;
	top: 26%;
	left: 24%;
	position: absolute;
	width: 66%;
	height: 68%;
	background: rgba(0, 0, 0, 0);
}
#event_list li {
	float: left;
}
.sprite {
	display: inline-block;
	zoom: 1;
	vertical-align: middle;
}
#small_logo {
	width: 80px;
	height: 80px;
	background: url(../images/logo-small.png) no-repeat;
	position: absolute;
	top: 1%;
	left: 1%;
	background-size: 100%;
}
#timeline {
	height: 100%;
	top: 0px;
	left: 0px;
	position: fixed;
	width: 100%;
}
#page_presents {
	height: 100%;
	position: relative;
	background: url(../images/home-bg.jpg) 50% 50% no-repeat;
	width: 100%;
}

#presents_title {
	width: 450px;
	height: 130px;
	position: absolute;
	top: 13%;
	left: 32%;
	background: url(../images/presents.png) no-repeat;
	background-size: 100%;
}
#presents_logo {
	height: auto;
	text-align: center;
	background-position: center;
	width: 35%;
	margin: 0px auto;
	padding-top: 0%;
	position: absolute;
	top: 38%;
	left: 35%;
	z-index: 20;
}
#presents_register {
	border-radius: 50%;
	background: #003127;
	width: 98px;
	height: 67px;
	line-height: 23px;
	font-size: 19px;
	vertical-align: middle;
	position: absolute;
	z-index: 30;
	bottom: 5%;
	right: 5%;
	color: #FFF;
	padding-top: 33px;
	font-family: 'Unica One';
	-webkit-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
#presents_register:hover {
	-webkit-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	box-shadow: 0px 0px 3px #666;
	-webkit-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
#float_menu {
	width: 80px;
	height: 80px;
	background: url(../images/menu.png) no-repeat;
	position: absolute;
	top: 1%;
	left: 1%;
	background-size: 65%;
	background-position: center;
	cursor: pointer;
}
