h4 {
	font-size: 28px;
}
h1, h2, h3 {
	border: 0;
}
.span5 {
	font-size: 18px;
}
header#home {
	background: #000;
	background-position: center;
	width: 100%;
	min-height: 770px;
}
#front_logo {
	height: 240px;
	text-align: center;
	background-position: center;
	width: 420px;
	margin: 0px auto;
	padding-top: 0%;
	position: relative;
}
#logo_lights {
	position: absolute;
	top: 30%;
	left: -10%;
	-webkit-transform: rotate(-35deg) scale(1.5);
	opacity: 0;
}
#logo_image {
	opacity: 0;
}
#lightbox_wrapper {

}
.event {
	background: url(img/background/back-2.jpg) top center no-repeat #24A399;
}
#gallery_nite {
	background: #7E2E71;
}
.img-container-image {
	position: relative;
	overflow: hidden;
	background: rgba(94, 92, 92, 0.72);
	-webkit-transition: 0.7s ease-in-out;
	-moz-transition: 0.7s ease-in-out;
	-ms-transition: 0.7s ease-in-out;
	-o-transition: 0.7s ease-in-out;
	transition: 0.7s ease-in-out;
}
#scroll_down {
	background: url(../images/scroll_down.png) no-repeat;
	height: 110px;
	width: 232;
	position: fixed;
	opacity: 0;
	background-position: center;
	z-index: 111;
}
.span3 {
	text-align: left;
}
.lightbox_title {
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	line-height: 50px;
}
.lightbox_photo {
	position: absolute;
	width: 200px;
	height: 200px;
	top: 10%;
	left: 7%;
}
ul.section_ul {
	list-style: none;
	width: 98%;
	height: 76%;
	max-width: 1360px;
	margin: 0 auto;
	padding: 10% 0%;
}
ul.section_ul li {
	width: 8%;
	margin: 0px 0.5%;
	float: left;
}
.chart_section {
	background: rgb(37, 37, 37);
	height: 100%;
}
.nite_item {
	width: 100%;
	height: 350px;
	margin: 10px 0px;
}
#thaikkudam_bridge {
	background: url(../gallery/other/bridge/bg.jpg) no-repeat;
	background-position: bottom;
}
#bandits_stunts {
	background: url(../gallery/other/bandits/bg.jpg) no-repeat;
	background-position: bottom;
}
.nite_item_details {
	position: absolute;
	right: 0px;
	vertical-align: baseline;
	margin-top: 119px;
	width: 54em;
	float: right;
	text-align: left;
	height: 156px;
	text-transform: uppercase;
}
.nite_item_details .title {
	background: url(../images/bg_title.png) repeat 0 0;
	position: relative;
	padding: 1.4em 0 1.4em 1.7em;
	text-align: left;
	box-shadow: 0px 1px 3px #414141;
}
h3.title-1 {
	color: #d0edde;
	font-size: 15pt;
	line-height: 1em;
	font-family: 'Cuprum', sans-serif;
	text-align: left;
	margin: 0;
	/*text-indent: 58%;*/
}
h2.title-1 {
	color: #f5f7f6;
	font-size: 2.5em;
	line-height: 1.2em;
	font-family: 'Oswald', sans-serif;
	text-align: left;
	margin: 0;
}
.nite_item_details .date {
	color: #d0edde;
	font-size: 12pt;
	line-height: 1em;
	margin: 0;
	padding: 0;
}
.nite_item_details img {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: auto;
}
.nite_item_loading {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: url('http://static.zippergaleria.com.br/static/images/exposicoes/bg_loading.png?1372856462') repeat 0 0;
	z-index: 102;
}
.nite_item_loading .loading {
	position: absolute;
	width: 100%;
	top: 46%;
	font-size: 2.5em;
	color: #fff;
	text-align: center;
}
.loading img {
	width: auto;
}
article.event_category {
	width: 7%;
	float: left;
	height: 100%;
	overflow: hidden;
}
.event_category_img {
	height: 100%;
	width: 100px;
	float: left;
	background: #000;
	margin-left: 0.5%;
}
.event_category_img img {
	height: 100%;
}
.event_category_list {
	height: 100%;
	position: relative;
	background: rgba(0, 0, 0, 0.95);
	z-index: 11;
	float: left;
	display: none;
	width: 65%
}
.page_title {
	height: 10%;
	height: 10%;
	color: #f5f7f6;
	font-size: 2.6em;
	line-height: 1.6em;
	font-family: 'Oswald', sans-serif;
	text-align: left;
	margin: 0;
	padding-left: 38px;
	text-transform: uppercase;
}
.page_content {
	height: 80%;
}
.page_foot {
	height: 10%;
}
#events_content {
	max-width: 1300px;
	margin: 0 auto;
}
div.event_category {
	widows: 10%;
}
article.selected {
	/*display:block;*/
}
article.removed {
	/*display:none;*/
}
/*article.event_category_list {
 -webkit-transition: width 0.5s ease-in-out, box-shadow 0.1s linear;
 -moz-transition: width 0.5s ease-in-out, box-shadow 0.1s linear;
 -o-transition: width 0.5s ease-in-out, box-shadow 0.1s linear;
 -ms-transition: width 0.5s ease-in-out, box-shadow 0.1s linear;
 transition: width 0.5s ease-in-out, box-shadow 0.1s linear;
 }*/
.event_list li {
	float: left;
}
.event_list {
	list-style: none;
}
span.event_category_title {
	position: absolute;
	margin-left: -206px;
	margin-top: 206px;
	width: 512px;
	height: 60px;
	-webkit-transform: rotate(-90deg);
	text-align: left;
	font-size: 57px;
	font-family: monospace;
	letter-spacing: 8px;
	color: rgba(255, 255, 255, 0.93);
	text-indent: 60px;
	padding-top: 38px;
	background: rgba(114, 114, 114, 0.25);
}
::-webkit-scrollbar {
	display: none;
}
